/*Hinoki 	#f8ddb7 */
/*InventiveOrange #e89d6f*/
/*Pennywise #a2583a */

.dogCardContainer{
    padding: 1em;
    border-radius: 8px;
    border: solid 2px black;
    color: black;
    height: 430px;
    position: relative;
    box-shadow: 0 4px 8px 0 #e89d6f, 0 6px 20px 0 #e89d6f;
    transition: all .5s ease;
}

.dogCardContainer:hover{
    transform: translate3D(0,-1px,0) scale(1.03);
    box-shadow: 0 8px 16px 0 #e89d6f, 0 12px 40px 0 #e89d6f;
    transition: all .4s ease;
}



/* rgb(248, 221, 183) */
/* #a2583a */

.dogName{
    margin: 0.3rem;
    padding-bottom: 0.3rem;
    text-align: center;
}

.dogCardImg {
    height: 200px;
    border: solid 2px #a2583a;
    border-radius: 4px;
}

.dogCardImg img{
    width: 100%;
    height: 100%;
}

.dogCardContainer a{
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    width: 90%;
    left: 1em;
}
.dogCardContainer h4{
    color: black;
    border-radius: 6px;
    background: transparent;
    border: solid 2px black;
    text-align: center;
    padding: 5px 0;
    font-size: 1rem;
    background: radial-gradient(#f8ddb7, white);
    -webkit-transition: background-color 2s ease-in-out;
    -moz-transition: background-color 2s ease-in-out;
    -o-transition: background-color 2s ease-in-out;
    transition: background-color 2s ease-in-out;
    transition: color 2s ease-in-out;
    transition: border 2s ease-in-out;
}

.dogCardContainer h4:hover{
    /* color: #a2583a; */
    border: solid 2px #e89d6f;
    background: #f8ddb7;
}

.dogCardWH{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    bottom: 4rem;
    left:25%;
}

.weight{
    text-align: center;

}

.height{
    text-align: center;
}

.dogCardDescription{
    text-align: justify;
    font-weight: 400;
}

.temperaments{
    margin: 0.8rem ;
}

