.createH2{
    font-size: 4rem;
    text-align: center;
    margin-bottom: 2.5rem;
    text-decoration: underline;
}

.createText{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 3rem;
}

.createContainer{
    /* min-height: 100vh; */
    display: flex;
    margin-top: 1rem;
    padding: 0 5em;
    padding-bottom: 5rem;
    
}

.createImg{
    width: 100%;
    align-self: center;
    border: solid #e89d6f;
    box-shadow: 1rem 1rem 1rem #f8ddb7;
}

.createImg img{
    width: 100%;
}

.createForm{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.createForm form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 380px;
    font-size: 1.24em;
    padding: 1em;
    align-self: center;
    border: solid;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px 0 #e89d6f, 0 6px 20px 0 #e89d6f;
    transition: all .5s ease;
}

.createForm form:hover{
    transform: translate3D(0,-1px,0) scale(1.03);
    box-shadow: 0 8px 16px 0 #e89d6f, 0 12px 40px 0 #e89d6f;
    transition: all .4s ease;
}

.createForm form label{
    padding: 0.4rem 0;
}

.createForm form input{
    padding: 10px;
    font-size: 1rem;
    border-radius: 0.5rem;
    border: solid ;
}

.createForm form select{
    padding: 10px;
    font-size: 1rem;
    border: solid;
    margin-bottom: 1em;    
    border-radius: 0.5rem;
}

.createForm form ul{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 170px));
    padding: 0;
    margin: 0;
    list-style-type: none;
    row-gap: 5px;
    column-gap: 15px;
}

.createForm form li{
    display: flex;
    justify-content: space-between;
    border: solid 2px;
    padding: 0 0 0 10px;
    border-radius: 15px;
    align-items: center;
    font-size: 0.9rem;
}

.createForm form li button{
    cursor:pointer;
    border: none;
    padding: 10px 10px;
    border-radius: 0 10px 10px 0;

}

.createForm form li button{
    border: solid 2px #e89d6f;
    background: #f8ddb7;
}

.SmallInputContainer{
    display: flex;
    justify-content: space-around;
}

.SmallInputContainer input{
    width: 100px;
}

.SmallInputContainer .CollumnInputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}


.FormBtns{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1em;
    
}

.createForm form .FormBtns a{
    color: black;
    text-decoration: none;
    width: 100px;
    border-radius: 15px;
    background: transparent;
    border: solid 2px;
    text-align: center;
    padding: 10px 0;
    font-size: 1rem;
    cursor: pointer;
}

.createForm form .FormBtns button{
    width: 100px;
    border-radius: 15px;
    background: transparent;
    border: solid 2px;
    cursor: pointer;
    height: 100%;
    font-size: 1rem;
    padding: 10px;
    background: radial-gradient(#f8ddb7, white);
    -webkit-transition: background-color 2s ease-in-out;
    -moz-transition: background-color 2s ease-in-out;
    -o-transition: background-color 2s ease-in-out;
    transition: background-color 2s ease-in-out;
    transition: color 2s ease-in-out;
    transition: border 2s ease-in-out;
}

.createForm form .FormBtns button:hover{
    border: solid 2px #e89d6f;
    background: #f8ddb7;
}

.createForm form input{
    margin-bottom: 0;
}

.Error{
    font-size: 0.9rem;
    font-weight: 300;
    font-family: arial;
    color: red;
    padding: 0;
    margin: 0;
}

@media (max-width: 768px){
    .createContainer{
        flex-direction: column;
        padding: 2em;
    }

    .createImg{
        width: 300px;
    }
    .createContainer img{
        width: 100%;
    }

    .createForm{       
        align-items: center;
     }
    .createForm form{
       border-radius: 0%;
       background-color: transparent;
       border: unset;
       border-top: solid 15px white;
       width: 100%;
       box-shadow: none;
    }
}