.searchBarContainer{
    display: flex;
    gap: 0.5em;
    justify-content: center;
    align-items: center;
    padding: 1em 0;    
    margin-bottom: 2em;
    border-bottom: solid 6px white;

}

.searchBarContainer button {
        font-size: 0.9rem;
        padding: 0.5rem;
        margin-left: 0.5rem;
        border-radius: 1rem;
        border-color: #e89d6f;
        background: radial-gradient(#f8ddb7, white);
        -webkit-transition: background-color 2s;
        -moz-transition: background-color 2s;
        -o-transition: background-color 2s;
        transition: background-color 2s;
}

.searchBarContainer button:hover {
    background: #f8ddb7;
    font-weight: 500;
}

.searchBarContainer select{
    height: 21.33px;
    width: 9em;
}

.searchBarContainer a{
    text-decoration: none;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: solid;
    
}

.searchBarContainer a:visited{
    color: black;
    text-decoration: none;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: solid;
    
}

.searchBarContainer a:hover{
    background-color: lightgray;
}

@media (max-width: 1023px){
    .searchBarContainer{
        flex-direction: column;
    }
    .searchBarContainer select{
        width: 12.5em;
    }    
    .searchBarContainer div input{
        width: 8.3em;
    }
}