.NotFoundContainer{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 2em;
   color: black
}

.NotFoundContainer img{
    width: 80vw;
}


.NotFoundDescription a{
    text-decoration: none;
    color:black;
    cursor: pointer;
}
