
.navbar {
    display: flex;
    justify-content:center;
    padding-top: 1rem;
    width: 100vw;
    background-image: linear-gradient(#f8ddb7, white);
    
}

.nameLogo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5vw;
}

.Logo {
    width: 30%;
    
}

.buttonList{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    margin-right: 5vw;
    padding: 1rem;
    list-style:none
}

.navbarButton {
    font-size: 1.5rem;
    padding: 0.5rem;
    margin-right: 5vw;
    border-radius: 1rem;
    border-color: #e89d6f;
    background: radial-gradient(#f8ddb7, white);
    -webkit-transition: background-color 2s;
    -moz-transition: background-color 2s;
    -o-transition: background-color 2s;
    transition: background-color 2s;
}

.navbarButton:hover {
    background: #f8ddb7;
    font-weight: 500;
}

/* ------MOBILE---------*/

@media only screen and (max-width: 900px) {

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
 
}

.nameLogo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.Logo {
    width: 30vw;
    margin-top: 5vw;
}
.buttonList{
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 1rem;
    list-style:none
}

.navbarButton {
    font-size: 1.2rem;
    padding: 0.5rem;
    margin:0 2vw 0 2vw;
}
}